In [42]:
import pandas as pd

In [43]:
arquivo = "../data/vendas.xlsx"

In [44]:
df = pd.read_excel(arquivo)

In [45]:
df.head()

,Data,Vendedor,Produto,Quantidade,Valor Unitário,Valor Total
0,2024-05-21,Raissa Souza,Notebook,1,3200,3200
1,2024-05-21,Ana Ribeiro,Notebook,5,3200,16000
2,2024-05-08,João Silva,Impressora,2,850,1700
3,2024-05-22,Fernanda Costa,Notebook,10,3200,32000
4,2024-05-14,Ana Ribeiro,Notebook,2,3200,6400

In [46]:
vendas = df.to_dict(orient="records")

In [47]:
#retorna a lista de vendedores de uma lista de vendas
def vendedores(vendas):
    vendedores = []
    for venda in vendas:
        if venda["Vendedor"] not in vendedores:
            vendedores.append(venda["Vendedor"])

    return vendedores

In [48]:
#retorna o indice de um produto em um lista de vendas
def retornaIndice(lista, produto):
    indice = 0

    for i, item in enumerate(lista):
        if item['nome'] == produto:
            indice = i
            break

    return indice

In [49]:
#retorna um dicionário com produtos e quantidades de um vendedor de uma lista de vendas
def totalVendedor(vendedor, vendas):
    lista = {"produtos": [], "qtdTotal": 0, "Valortotal": 0}
    
    for venda in vendas:
        
        if venda["Vendedor"] == vendedor:      
            
            listaProdutos = lista["produtos"]
            
            if any(item['nome'] == venda['Produto'] for item in listaProdutos):

                indiceProduto = retornaIndice(listaProdutos, venda['Produto'])
                    
                lista["produtos"][indiceProduto]["qtd"] += venda["Quantidade"] 

            else:                
                produto = {"nome": venda["Produto"], "qtd": venda["Quantidade"]}
                lista["produtos"].append(produto)

            lista["qtdTotal"]+= venda["Quantidade"] 
            lista["Valortotal"]+= venda["Valor Total"]

    return lista

In [50]:
vendedores(vendas)

['Raissa Souza',
 'Ana Ribeiro',
 'João Silva',
 'Fernanda Costa',
 'Carlos Lima',
 'Beatriz Souza']

In [51]:
totalVendedor("Raissa Souza", vendas)

{'produtos': [{'nome': 'Notebook', 'qtd': 1}],
 'qtdTotal': 1,
 'Valortotal': 3200}